html, body {
  height: 100%;
  margin: 0
}


body {
  background-color: #000;
}


main {
  width: 640px;
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  border: solid 8px #fff;
}


h1, h3 {
  text-align: center;;
}