p.cue {
  /*font-weight: bold;*/
}
p.instructions {
  font-weight: bold;
}
input[type=text] {
  color: #66C;
  /*font-style: italic;*/
  font-weight: bold;
  width: 5em;
}
input[type=text]:disabled {
  background-color: #efe;
  text-align: center;
  color: black;
  border: none;
}
div.reward {
  position: relative;
}
div.reward > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 640px;
}
div.mask {
  background-color: #eee;
  transition: opacity 1s;
  opacity: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #aaa;
}
div.mask.invisible {
  opacity: 0;
  pointer-events: none;
}
::-webkit-input-placeholder {
 text-align: center;
 font-style: italic;
 color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
 text-align: center;
 font-style: italic;
 color: #ccc;
}
::-moz-placeholder {  /* Firefox 19+ */
 text-align: center;
 font-style: italic;
 color: #ccc;
}
:-ms-input-placeholder {
 text-align: center;
 font-style: italic;
 color: #ccc;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td, div.drag {
  height: 1.5em;
  padding: 0.125em 0.5em;
  text-align: center;
  font-family: sans-serif;
}
col.pronouns,
tr.infinitives {
  background-color: #bbf;
  color: #fff;
}
col:not(.pronouns) {
  width: 5em;
}
table {
  position: fixed;
  bottom: -11em;
  transition: bottom 0.5s;
  margin: 0 4.2em;
}
table.open {
  bottom: 0em;
}
td {
  background-color: #ddf;
  color: #66C;
  cursor: pointer;
}
td:first-child {
  background-color: #99e;
  color: #fff;
  text-align: right;
  cursor: default;
}
th:first-child {
  background-color: #88f;
  color: #003;
  cursor: pointer;
}
/*div.drag {
  position: absolute;
  padding: 0.125em 0;
  background-color: rgba(192,192,255,0.5);
  display: none;
}*/